// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "config/bootstrap_variables";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.dark-mode {

  background-color: #343A40 !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;

  color: white;
}

.light-mode {
  color: #707070;
}
