<h3>Expenses</h3>
<h3>$<%= '%1.2f' % @expenses %></h3>
<p>Personal: $<%= '%1.2f' % @personal_expenses %></p>
<p>Living: $<%= '%1.2f' % @living_expenses %></p>

<h3>Income</h3>
<h3>$<%= '%1.2f' % @income %></h3>
